
@font-face{
    font-family:"rubik";
    src:url('Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight:normal;
    font-display:swap;
}
.nav-ele{
    color:white !important;
    margin-left:70px;
    font-weight:500;
}
.image-nav{
    margin-top:10px;
    margin-left:55px
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    font-family:"rubik";
    text-decoration: none;
}



html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffa500;
}

.wrap {
    width: 100%;
    padding-bottom: 1rem;
}

.wrap>.first {
    background-color: black;
}
.nav-container {
    margin-top:115px;
    width: 100%;
    height: 140px;
   background-image: url('./images/frmimage.webp');
    background-size: cover; 
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:1;
}

.nav-container>h1 {
    color:#ffa500 !important;
    text-shadow: 1ch;
    font-weight:500;
}

#logo {
    width: 200px;
    height: 200px;
}

.wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;


}

#navLink {

    display: flex;
    justify-content: center;

}

.wrap-nav {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    width: 60%;

}

.wrap-nav>a {
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 700;

}

#previous {
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    cursor: pointer;
}

#sf1 {
    display: flex;
    justify-content: center;
}

#form-wrap {
    display: flex;
    background-color: #ffa500;
    flex-direction: column;
    gap: 0.5rem;
    height: 60%;
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
    transition: all;
}


.error{
    color:red;
}

.navBorder {
    border-bottom: 0.3rem solid black;
    border-color: white;
    color: black !important;

}

.options:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}

.button-group {
    display: flex;
    justify-content: center;
}

.activeSection {
    display: block;
}

.unactiveSection {
    display: none !important;
}

.section2 {
    min-height: 60vh;
    overflow: auto;
    font-family:Rubik;
    display: flex;
    align-items: center;
    justify-content: center;

}

.step2 {
    display: grid;
    overflow-y: auto;
    justify-content: center;
    grid-template-columns: repeat(3, 31%);
    /*change box size here add % that's all*/
    gap: 1rem;
    overflow: auto;
}

.innerDiv {
    border-radius: 1rem;
    border: 1px solid #ffa500;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    /*padding add as u wish*/
    grid-template-columns: 35% 65%;
    gap: 0.2rem;
    background-color: white;

}

.wrapFirst {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;

}

select option{
    height: 50px;
}

.wrapFirst>h1,
.wrapFirst>h2 {
    text-align: center;
    font-size: 1.2rem;

}

.wrapSecond {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.activeInnerDiv {
    background-color: black;
    color: white;
}

.section3 {
    width: 40%;
    margin-inline: auto;
}

.section3>fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: space-around;
}

.section3>fieldset>#check {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

input::placeholder {
    /* Change the color to your desired color */
    color: black !important;
    /* For example, a reddish color */
}

.step-4 {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.total-amt {
    display: flex;
    justify-content: space-between;
}

#form-group>#b1n {
    width: 20rem !important;
}

.access-calc {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.clr-black3 {
    border-top: 1px solid black;
    padding-top: 0.5rem;
}

.wrapSecond-inner {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
    align-items: center;
    width: 100%;
    justify-self: baseline;
}

.wrapSecond-inner>img {
    width: 10px;
    text-align: center;
    height: 10px;
}

.wrapSecond-inner>span {
    text-align: start;
    font-size: 1rem;
    width: 100%;
    margin-left: 0.5rem;
}

.info1>h1 {
    font-size: 2.0rem;
    text-align: center;
    color: black;
}

.info1>p {
    text-align: center;
    color: black;
    font-size: 1rem;
}

.info1 {
    /* border-bottom: 1px solid white; */
    width: 100%;
    padding: 1rem;
    padding-bottom:0px;
}

/**    font-size: 1.5rem;*/
.section4 {
    padding: 2rem;
    font-family:Rubik;
    display: flex;
    /* border:2px solid; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19); */
    flex-direction: column;
    width:60%;
    /* background-color: white; */
    /* box-shadow:10px 10px 3px 5px black; */
    border-radius:20px;
    margin-inline: auto;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}

.info2 {
    width: 100%;
    margin-left:25%;
}

.info2>h1 {
    width: 100%;
    display: grid;
    /* border-bottom: 1px solid; */
    width: 100%;
    border-color: white;
    padding: 0.8rem;
    color: black;
    grid-template-columns: 0.5fr 0.5fr;
    justify-content:center;
    justify-items:center;

}

.info2>h1>span {
    color: black;
    justify-self:start;
}

.transcation{
    font-size:18px;
}


/* .whatsapp-chat{
    top:70%;
    left:60%;
    height:150px;
    width:150px;
    position:fixed;
    z-index:1000;
}
.whatsapp-chat:hover{
    height:160px;
    width:160px;
} */
.whatsapp-chat{
    top:82%;
    left:90%;
    height:150px;
    width:150px;
    position:fixed;
    z-index:1000;
}
  
.whatsapp-chat:hover{
    height:160px;
    width:160px;
}
@media screen and (min-width:1070px) {
    /* .info2{
        padding-left:20%;
    }
     */
}

@media screen and (max-width:991px) {
    #form-wrap {
        width: 50%;
    }
    .nav-ele{
        padding: 10px 45px 10px 0px;
        font-size: 23px;
    }
    .navbar-nav{
        padding-top:18%;
        height:100vh;
    }
    .nav-container{
        height:79px;
    }
    .step2 {
        grid-template-columns: repeat(3, 31%);
        /*change box size here add % that's all*/
        overflow-y:scroll; 
        height:500px;
    }
    .innerDiv{
        grid-template-columns: 25% 75%;
        gap: 1.2rem;
    }

   .transcation{
    font-size:15px;
   }
   input[type="date"]::before{
    content:attr(placeholder)!important;
    color:black;
    padding:0;
    display: flex;
}
input[type="date"]{
    height:2.5rem;
    display: flex;
}
}

@media screen and (max-width:786px) {
    .whatsapp-chat{
        top:83%;
        left:70%;
        height:150px;
        width:150px;
        position:fixed;
        z-index:9999;
    }
    .whatsapp-chat:hover{
        height:160px;
        width:160px;
    }
    #form-wrap {
        width: 70%;
    }
   
    .nav-container{
        height:79px;
    }
    .wrapper {
        gap: 1rem;
        padding: 10px !important;
    }

    .section3 {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .section3>fieldset {
        width: 80%;
    }
    .section4{
        width:100%;
    }

    .step2 {
        grid-template-columns: 40% 40%;
    }

    input[type="date"]::before{
        content:attr(placeholder)!important;
        color:black;
        padding:0;
        display: flex;
    }
    input[type="date"]{
        height:2.5rem;
        display: flex;
    }

}


@media screen and (max-width:700px) {
    .info1>h1 {
        font-size: 1.5rem;
    }
    .nav-container{
        height:79px;
    }
}

@media screen and (max-width:600px) {
    .footer-row{
       padding-left:15px;
    }
    .image-nav{
        margin-top:10px;
        margin-left:0px;
    }
    .wrapper {
        gap: 1rem;
        padding: 10px !important;
    }

    .step2 {
        grid-template-columns: 70%;
    }
    .bringing{
        font-size:14px !important;
    }

    .section3>fieldset {
        width: 100%;
    }

    .section3 {
        width: 80%;
    }

    .wrap-nav {
        width: 100%;
    }

    .wrap-nav>a {

        font-size: 1rem !important;
    }

    .section4 {
        padding: 1rem;
    }
}

@media screen and (max-width:425px) {
    #form-wrap {
        width: 100%;
    }

    .section3>fieldset {
        width: 100%;
    }

    /* .info1>h1 {
        font-size: 1.2rem;
    }

    .info1>p {
        font-size: 0.7rem;
    } */

}

@media screen and (max-width:400px) {

    .wrapper {
        padding: 0;
    }

    .section3 {
        width: 95%;
    }

    .step2 {
        grid-template-columns: 100%;
    }

    #btn1 {
        width: 50rem;
    }

    input[type="date"]::before{
        content:attr(placeholder)!important;
        color:black;
        padding:0;
        display: flex;
    }
    input[type="date"]{
        height:2.5rem;
        display: flex;
    }

}
.footer-headings{
    font-size:14px;
}
.footer-row{
    color:white;
    font-family:Rubik;
    text-align:left;
}

.footer-row ul{
    list-style: none;
}
.footer-row a{
    color:white !important;
}
.socialmedia{
    font-size:25px;
    text-decoration: none;
}
.socialmedia:hover{
  color:blue;
}
.bringing{
    font-size:20px !important;
    font-weight:500;
    /* font-style:oblique; */
}
.socialmediadiv{
    margin-top: 40px;
    margin-bottom:40px;
}

