
@font-face{
  font-family:"rubik";
  src:url('Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight:normal;
  font-display:swap;
}
*{
  font-family:Rubik;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-image {
  width: 100px; 
  height: 100px;
} */
/* Add margin-right to the navigation items */

.reason {
  display: flex;
  align-items: center;
  color: black;
}

.reason{
  border-left: 1px solid black; 
  padding-right: 100px; 
  margin-right: 30px;
}


@media (max-width: 768px) {
  .reason {
    padding-right: 0; 
    margin-right: 0; 
    color: black;
  }
}



/* Add this CSS code to your stylesheet */
.card:hover {
  background-color: #ffa500;
}

#hi {
  gap: 4rem; 
}


body {
  font-family: Rubik;
}

.hero {
  font-family: sans-serif;
}
.services svg {
  width: 100%; 
  height: auto;
  max-width: 515px;

}
.services{
  display:none;
}
.whatsapp-chat{
  top:82%;
  left:90%;
  height:150px;
  width:150px;
  position:fixed;
  z-index:9999;
}

.whatsapp-chat:hover{
  height:160px;
  width:160px;
}

@media screen and (max-width: 768px) {
  .whatsapp-chat{
    top:83%;
    left:70%;
    height:150px;
    width:150px;
    position:fixed;
    z-index:9999;
}
.whatsapp-chat:hover{
    height:160px;
    width:160px;
}
  .services svg {
    max-width: 100%; 
  }
}

@media (max-width: 768px) {
  .privacy svg {
    height: auto;
    width: 360px;
  }
}

.brand{
  display: block;
}
@media (max-width: 600px) {
  .services{
  display:block;
  }
  .brand1{
    display:none;
  }
}
@media (max-width: 768px) {
  .privacy svg {
    height: auto;
    width: 360px;
  }
}
/* Style only the specific list with the 'dot-bullet-list' class */
ul.dot-bullet-list {
list-style-type: disc; /* Use 'disc' for dot bullets */
}
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s  infinite;
  position: fixed;
  left:40%;
  top:40%;
  z-index:9999;
  display:none;
}
.loading{
  display:block;
}


